#footer {
  background-color: $bp-d-blue;
  border-top: 1px solid $bp-navy;
  color: $bp-white;
  padding-top: 60px;

  height: 254px;

  .columns {
    text-align: center;

    @include responsive('xs-landscape'){
      text-align: center;
    }
    @include responsive('sm'){
      text-align: center;
    }
    @include responsive('md'){
      text-align: left;
    }
    @include responsive('lg'){
      text-align: left;
    }
  }
  .square {
    background: $bp-blue;
    border-radius: 2px;
    float: left;
    height: 154px;
    margin-bottom: 6px;
    margin-top: 15px;
    margin-right: 5px;
    width: 170px;

    @include responsive('xs-landscape'){
      height: 154px;
      margin-top: 15px;
      width: 170px;
    }
    @include responsive('sm'){
      margin-top: 0;
      height: 60px;
      width: 68px;
    }
    @include responsive('md'){
      height: 60px;
      margin-top: 0;
      width: 68px;
    }
    @include responsive('lg'){
      height: 60px;
      margin-top: 0;
      width: 68px;
    }
  }

  .copyright {
    p {
      color: $bp-navy;
      font-size: 10pt;
      text-align: center;
      @include responsive('xs-landscape'){
        text-align: center;
      }
      @include responsive('sm'){
        text-align: center;
      }
      @include responsive('md'){
        text-align: left;
      }
      @include responsive('lg'){
        text-align: left;
      }
    }
  }

  #map {
    border-bottom: 2px solid $bp-gray-68;
    color: $bp-gray-68;
    padding-top: 9px;
    margin: 0;

    &:hover {
      color: $bp-white;
    }
  }
}