#home-container {
  //I don't think you need this but let me know what you were tryinf to do when I check in with you tomorrow
  //@media screen and (max-width: 992px) {
  //  .navigation-nav {
  //  }
  //  #background-photo {
  //    background: url("../img/Home.png") no-repeat center center black;
  //    -webkit-background-size: cover;
  //    -moz-background-size: cover;
  //    -o-background-size: cover;
  //    background-size: cover;
  //    width: 100%;
  //  }
  //  #footer {
  //    position: fixed;
  //    bottom: 0px;
  //  }
  //}
  #table {
    font-family: "lato";
    font-weight: bold;
    font-size: 18px;
    color: #2c55a0;
    letter-spacing: 1px;
    margin-bottom: 26px;
    @media screen and (max-width: 992px){
      border-bottom: 1px solid #abaeb1;
    }
  }
  #logo {
    height: auto;
    width: auto;
    max-width: 300px;
    max-height: 300px;
    margin-left: -13px;
  }
  #party {
    margin-right: 89px;
    margin-left: -72px;
  }
  #right {
    float: right;
    text-align: left;
    width: 377px;
    padding-right: 183px;
  }
  .hours {
    font-size: 12px;
    font-family: lato;
    line-height: 17px;
    padding-top: 35px;
    line-height: inherit;
  }
  .events {
    font-size: 12px;
    font-family: lato;
    line-height: inherit;
  }
  label.right {
    text-align: left;

  }
  #right-label {
    width: 96px;
    height: 29px;
    margin-right: 22px;
  }
  #size {
    word-spacing: 6px;
  }
  .inline {
    font-family: "lato";
    font-size: 12px;
    color: #2c55a0;
  }

  #info-panel {
    padding: 10px 0px;
    float: right;
  }
  img {
    width: 100%;
  }

  h4 {
    font-size: 16px;
    font-weight: bold;
  }

  #party-size {
    width: 46px;
    height: 30px;
  }
  #blue-plate {
    width: 194px;
    height: auto;
  }
  #background-photo {
    background: url("../img/home.jpg") no-repeat center center black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: table;
    width: 100%;
    min-height: 371px;

    @include responsive('xs-landscape') {
      min-height: 371px;
    }
    @include responsive('sm') {
      min-height: 471px;
    }
    @include responsive('md') {
      min-height: 500px;
    }
    @include responsive('lg') {
      min-height: 571px;
    }

    .vertical {
      display: table-cell;
      vertical-align: middle;

      h1 {
        color: $bp-white;
        font-family: lato;
        font-size: 16pt;

        @include responsive('xs-landscape') {
          font-size: 16pt;
        }
        @include responsive('sm') {
          font-size: 26pt;
        }
        @include responsive('md') {
          font-size: 36pt;
        }
        @include responsive('lg') {
          font-size: 36pt;
        }
      }
    }
  }
  #dial {
    font-size: 24px;
    background-color: #3b4350;
    color: $bp-white;
    padding: 10px 0;
    height: 95px;


    h2 {
      color: $bp-white;
      font-size: 24px;
      margin-top: 0;
      margin-bottom: 0;
      padding-top: 21px;
      font-family: lato;

      span {
        padding-right: 15px;
      }
    }
  }
}

#reserve-a-table {
  position: absolute;
  background-color: white;
  width: 88%;
  margin-left: 35px;
  @include responsive('xs-landscape') {


  }
  @include responsive('sm') {


  }
  @include responsive('md') {
    display: none;
  }
  @include responsive('lg') {
    display: none;
  }
  .mobile-right-label {
    width: 115px;


  }
  .mobile-right-label-ps {
    width: 50px;
  }
  label.right {
    text-align: none;
  }

}
.mobile-btn {
  width: 90%;
}

//.hidden-xs {
//  @media screen and (max-width: 755px) {
//    display: none !important;
//  }
//}
//.hidden-sm {
//  @media screen and(min-width: 755px) and (max-width: 992px) {
//    display: none !important;
//  }
}








//poition relative
//#reserve-a-table {
//  @media screen and (max-width: 992px) {
//    border-bottom: none;
//  }
//  p {
//    @media screen and (max-width: 992px) {
//      display: none;
//    }
//  }
//}
