#home-container {
  @media screen and (max-width: 992px) {
    .navigation-nav {
    }
    #background-photo {
      background: url("../img/Home.png") no-repeat center center black;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      width: 100%;
    }
    #footer {
      position: fixed;
      bottom: 0px;
    }
  }
  #table {
    font-family: "lato";
    font-weight: bold;
    font-size: 18px;
    color: #2c55a0;
    letter-spacing: 1px;
    margin-bottom: 26px;
  }
  #logo {
    height: auto;
    width: auto;
    max-width: 300px;
    max-height: 300px;
    margin-left: -13px;
  }
  #party {
    margin-right: 89px;
    margin-left: -72px;
  }
  #right {
    float: right;
    text-align: left;
    width: 377px;
    padding-right: 183px;
  }
  .hours {
    font-size: 12px;
    font-family: lato;
    line-height: 17px;
    padding-top: 35px;
    line-height: inherit;
  }
  .events {
    font-size: 12px;
    font-family: lato;
    line-height: inherit;
  }
  label.right{
    text-align: left;
  }
  #right-label {
    width: 96px;
    height: 29px;
    margin-right: 22px;
  }
  #size {
    word-spacing: 6px;
  }
  .inline {
    font-family: "lato";
    font-size: 12px;
    color: #2c55a0;
  }

  #info-panel {
    padding: 10px 0px;
    float: right;
  }
  img {
    width: 100%;
  }

  h4 {
    font-size: 16px;
    font-weight: bold;
  }

  #party-size {
    width: 46px;
    height: 30px;
  }
  #blue-plate {
    width: 194px;
    height: auto;
  }
  #background-photo {
    background: url("../img/home.jpg") no-repeat center center black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-top: 1px solid $bp-gray-b2;
    display: table;
    width: 100%;
    min-height: 571px;

    .vertical {
      display: table-cell;
      vertical-align: middle;

      h1 {
        color: $bp-white;
        font-family: lato;
        font-size: 36pt;
      }
    }
  }
  #dial {
    font-size: 24px;
    background-color: #3b4350;
    color: $bp-white;
  }

}
