.top-bar {
    background-color: $bp-white;

    padding-top: 20px;
  @include responsive('xs-landscape') {

  }
  @include responsive('sm') {


  }
  @include responsive('md') {
    padding-right: 72px;

  }
  @include responsive('lg') {
    padding-right: 72px;

  }
  .m-find-table {
    margin-top: -16px;
    position: absolute;
    right: 46px;
    top: 50%;
  }
}

#reserve-a-table{
  border-bottom: 1px solid $bp-light-gray;

  .close {
    color: $bp-blue;
    float: right;

    &:hover {
      color: $bp-d-blue;
    }
  }
}
#blue-plate-logo {
  width: 195px;
  height: 23px;

}
.top-bar-section ul li,.top-bar-section li:not(.has-form) a:not(.button) {
  background-color: #38404c;
  color: $bp-white;
  font-family: lato;

  @include responsive('xs-landscape') {
    background-color: $bp-navy;
    color: $bp-white;
  }
  @include responsive('sm') {
    background-color: $bp-navy;
    color: $bp-blue;

  }
  @include responsive('md') {
    background: $bp-white;
    color: $bp-blue;

  }
  @include responsive('lg') {
    background: $bp-white;
    color: $bp-blue;

  }

  &:hover {
    background: #38404c;
    color: $bp-blue;

    @include responsive('xs-landscape') {
      background-color: $bp-navy;
      color: $bp-white;
    }

    @include responsive('sm') {
       background: $bp-navy;
       color: $bp-d-blue;

     }
    @include responsive('md') {
      background: $bp-white;
      color: $bp-d-blue;

    }
    @include responsive('lg') {
      color: $bp-d-blue;

    }
  }

}

.top-bar-section ul li>a.button {
  background-color: $bp-white;
  border: $bp-blue 1px solid;
  color: $bp-blue;
  font-family: lato;
  font-size: 13px;
  width: 150px;
  height: 35px;
  padding-top: 9px;
  margin-top: 3px;
}
.top-bar-section ul li>a.button:hover, .top-bar-section ul li>a.button:focus {
  background-color: $bp-blue;
  border: solid 1px;
  border-color: $bp-blue;
  font-family: lato;
  font-size: 13px;
  width: 150px;
  height: 35px;
  padding-top: 8px;
  margin-top: 3px;
}
.top-bar.expanded .title-area {
  background-color: $bp-white;
}
.button:hover, .button:focus {
  font-weight: normal;
}
#find-a-table{
  padding-left: 16px;
}
#menu {
  padding-left: 0px;
}


label {
  font-weight: bold;
}
.top-bar .toggle-topbar a span::after  {
  box-shadow: 0 0 0 1px #aaabac,0 7px 0 1px #aaabac,0 14px 0 1px #aaabac !important;
}
.navigation-nav {

  @media screen and (max-width: 992px) {
    padding-top: 0px;
  }
  .menu-icon {
    @media screen and (min-width: 992px) {
      display: none;
    }

    a {
      float: left;
    }

    .find-table {
      right: 45px;
    }
    .button.radius {
      background-color: white;
      border: solid 2px #2c55a0;
      color: #2c55a0;
      font-family: lato;
      font-weight: bold;
      font-size: 12px;
      width: 158px;
      height: 35px;
      padding: 0px;
    }
    .button:hover, .button:focus {
      background-color: #2c55a0;
      border: solid 1px;
      border-color: #2c55a0;
      font-weight: bold;
      color: white;
      padding: 0px;
    }
  }
  #find-a-table {
    @media screen and (max-width: 992px) {
      //display: none !important;
    }
  }
  #blue-plate-logo {
    @media screen and (max-width: 992px) {
      width: 195px !important;
      height: 23px !important;
    }
  }
}
#reserve-a-table {
  .table {
    font-family: "lato";
    font-weight: bold;
    font-size: 18px;
    color: #2c55a0;
    letter-spacing: 1px;
    margin-bottom: 26px;
  }
  .logo {
    height: auto;
    width: 94px;
    margin-left: -13px;
  }
  #party {
    margin-right: 89px;
    margin-left: -72px;
  }
  #right {
    float: right;
    text-align: left;
    width: 377px;
    padding-right: 183px;
  }
  .hours {
    font-size: 12px;
    font-family: lato;
    padding-top: 35px;
    line-height: inherit;
  }
  .events {
    font-size: 12px;
    font-family: lato;
    line-height: inherit;
  }
  label.right {
    text-align: left;

  }
  .right-label {
    width: 96px;
    height: 29px;
    margin-right: 22px;
  }
  .size {
    word-spacing: 6px;
  }
  .inline {
    font-family: "lato";
    font-size: 12px;
    color: #2c55a0;
  }

  #info-panel {
    padding: 10px 0;
    float: right;
  }
  img {
    width: 100%;
  }

  h4 {
    font-size: 16px;
    font-weight: bold;
  }

  .party-size {
    width: 46px;
    height: 30px;
  }
}


