/*
  Buttons, typography and any shared styles go here

*/
html, body {
  height:100%;
}
body {
  max-width: 100%;
  min-height: 100%;
  font-family: lato;
}


.button {
  background-color: white;
  border: solid 1px #2c55a0;
  color: #2c55a0;
  font-family: lato;
  font-weight: bold;
  font-size: 12px;
  width: 158px;
  height: 35px;
  padding-top: 8px;
}
.button:hover, .button:focus {
  background-color: #2c55a0;
  border: solid 1px;
  border-color: #2c55a0;
  font-weight: bold;
}

/*
  typography
*/

h4, h5 {
  font-family: lato;
  color: white;
  text-align: left;
}

h5 {
  font-size: 14px;
  color: $bp-gray;
  line-height: 105%;
}
meta.foundation-data-attribute-namespace {
  font-family: false;
}

#dial {
  font-size: 24px;
  background-color: #3b4350;
  color: $bp-white;
  padding: 10px 0;
  height: 91px;


  h2 {
    color: $bp-white;
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 21px;
    font-family: lato;

    span {
      padding-right: 15px;
    }
  }
}
.mobile-find-a-table {
  background: $bp-white;
  border-radius: 4px;
  border: 1px solid #AAAAAA;
  max-width: 340px;
  margin: auto;
  padding: 20px;
  position: absolute;
  top: 10px;
  right: 0;
  left: 0;

  @include responsive('xs-landscape') {
    max-width: 440px;
    padding: 20px;

  }
  @include responsive('sm') {
    max-width: 500px;
    padding: 20px;

  }
  @include responsive('md') {
    max-width: 540px;
    padding: 40px;

  }
  @include responsive('lg') {
    max-width: 540px;
    padding: 40px;

  }

  h4 {
    border-bottom: 1px solid #abaeb1;
    font-weight: bold;
    font-size: 18px;
    color: #2c55a0;
    margin: 0;
    letter-spacing: 1px;
    padding-bottom: 26px;
  }

  .mobile-btn {
    background: $bp-blue;
    color: $bp-white;
    display: block;
    max-width: 454px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
  }

  .control-label {
    label, input {
      margin-top: 36px;
    }

  }
  .date-input {
    margin-right: 22px;
    margin-left: -21px;
  }
  .date-mobile {
    margin-left:  -15px;
    padding-left: 1px;
    letter-spacing: 1px;
  }
  .time-input {
    margin-left: 10px;
    padding-left: 15px;
    letter-spacing: 1px;
  }
  .logo-mobile{
    height: auto !important;
    width: 79px !important;
    margin-left: -23px;
  }
  .mobile-party {
    margin-left: -15px;
    word-spacing: 2px;
    letter-spacing: 1px;
  }
  .party-size-input {
    margin-left: -31px;
  }
  .psm {
    margin-right: 6px;
    padding-left: 0px
  }
  .tsm {

    margin-right: -10px;
  }
  .party-input-width {
    width: 41px;
    height: 30px;
  }
}
#table {
  margin-bottom: 38px;
  font-size: 24px !important;
}

#close-window {
  font-size: 12px;
  color: #2c55a0;
}
.bottom-box {
  margin-bottom: -10px;
}